Repository SangHwi-Back/todo-list, pull requests merged in 2022-04, with the labels that each got.

#30 [Refactor] feature-1 에 대한 리뷰사항 반영
  Client/iOS/TodoList/Cells/TodoTableViewCell.swift
  Client/iOS/TodoList/ViewControllers/TodoViewController.swift
Labels: 🎩 Rosa, iOS, 🧹 refactoring

#38 [Refactor] CardsFetchingDataTask 리펙토링 (#23)
  Client/iOS/TodoList.xcodeproj/project.pbxproj
  Client/iOS/TodoList/Network/CardsFetchingDataTask.swift
  Client/iOS/TodoListTests/CardAPITests.swift
Labels: 🐞 bug, 🎩 Rosa, iOS

#42 [Feat] 서버에 유저정보를 보내 인증 (#22)
  Client/iOS/TodoList/Network/CardsFetchingDataTask.swift
  Client/iOS/TodoListTests/CardAPITests.swift
Labels: 🎩 Rosa, iOS

#43 [Refactor] (iOS) 테이블 뷰, 데이터소스, 데이터 Fetch #27
  Client/iOS/TodoList/AppDelegate.swift
  Client/iOS/TodoList/Base.lproj/Main.storyboard
  Client/iOS/TodoList/Cells/TodoTableViewCell.swift
  Client/iOS/TodoList/Network/CardsFetchingDebugDataTask.swift
  Client/iOS/TodoList/Network/ResourcesNetwork/CardData.swift
  Client/iOS/TodoList/Repository/CardDataMiddleWare.swift
  Client/iOS/TodoList/View/TodoTableView.swift
  Client/iOS/TodoList/View/TodoTableViewManagement.swift
  Client/iOS/TodoList/ViewController.swift
  Client/iOS/TodoList/ViewControllers/CardMap.swift
  Client/iOS/TodoList/ViewControllers/ColumnTableViewManagement.swift
  Client/iOS/TodoList/ViewControllers/CompletedTodoViewController.swift
  Client/iOS/TodoList/ViewControllers/ProgressTodoViewController.swift
  Client/iOS/TodoList/ViewControllers/TodoTableViewManagement.swift
  Client/iOS/TodoList/ViewControllers/TodoViewController.swift
Labels: Beck, iOS, 🧹 refactoring

#44 [Feat] (iOS) Badge 정보 업데이트 (#26)
  Client/iOS/TodoList.xcodeproj/project.pbxproj
  Client/iOS/TodoList.xcodeproj/project.xcworkspace/xcuserdata/sanghwiback.xcuserdatad/UserInterfaceState.xcuserstate
  Client/iOS/TodoList/Base.lproj/Main.storyboard
  Client/iOS/TodoList/Network/CardsFetchingDataTask.swift
  Client/iOS/TodoList/Network/ResourcesNetwork/CardMap.swift
  Client/iOS/TodoList/View/TodoTableViewManagement.swift
  Client/iOS/TodoList/ViewControllers/CompletedTodoViewController.swift
  Client/iOS/TodoList/ViewControllers/ProgressTodoViewController.swift
  Client/iOS/TodoList/ViewControllers/TodoViewController.swift
  Client/iOS/TodoList/ViewControllers/ViewController.swift
Labels: Beck, enhancement, iOS

#46 [Feat] CoreData 파일 생성, CoreDataManager 클래스 구현 (#24)
  Client/iOS/TodoList.xcodeproj/project.pbxproj
  Client/iOS/TodoList/DB/CoreData/Model.xcdatamodeld/Model.xcdatamodel/contents
  Client/iOS/TodoList/DB/CoreData/TaskBoard+CoreDataClass.swift
  Client/iOS/TodoList/DB/CoreData/TaskBoard+CoreDataProperties.swift
  Client/iOS/TodoList/DB/DataManager.swift
Labels: 🎩 Rosa, iOS

#47 fix: DB 에서 가져와 변환할 모델인 Card struct 추가 (#24)
  Client/iOS/TodoList/DB/DataManager.swift
Labels: 🐞 bug, 🎩 Rosa, iOS

#49 [Hotfix] PR Comments 소스 반영 #48
  Client/iOS/.gitignore
  Client/iOS/TodoList.xcodeproj/project.pbxproj
  Client/iOS/TodoList.xcodeproj/project.xcworkspace/xcuserdata/sanghwiback.xcuserdatad/UserInterfaceState.xcuserstate
  Client/iOS/TodoList/AppDelegate.swift
  Client/iOS/TodoList/Base.lproj/Main.storyboard
  Client/iOS/TodoList/Cells/TodoTableViewCell.swift
  Client/iOS/TodoList/Repository/CardDataMiddleWare.swift
  Client/iOS/TodoList/View/TodoRepositoryRespondWrapper.swift
  Client/iOS/TodoList/View/TodoTableView.swift
  Client/iOS/TodoList/ViewControllers/CompletedTodoViewController.swift
  Client/iOS/TodoList/ViewControllers/ProgressTodoViewController.swift
  Client/iOS/TodoList/ViewControllers/TodoTableViewManagement.swift
  Client/iOS/TodoList/ViewControllers/TodoViewController.swift
Labels: Beck, enhancement, iOS

#51 [Review] URLType 네이밍, CoreDataManager 네이밍
  Client/iOS/TodoList/DB/PersistenceProvider.swift
  Client/iOS/TodoList/Network/CardsFetchingDataTask.swift
  Client/iOS/TodoList/Network/CardsFetchingDebugDataTask.swift
Labels: 🎩 Rosa, iOS, 🧹 refactoring

#53 [Feat] 사용자 쿠키가 반영된 API 연결 & 화면 업데이트
  Client/iOS/TodoList/AppDelegate.swift
  Client/iOS/TodoList/Cells/TodoTableViewCell.swift
  Client/iOS/TodoList/DB/PersistenceProvider.swift
  Client/iOS/TodoList/Network/CardsFetchingDataTask.swift
  Client/iOS/TodoList/Network/ResourcesNetwork/CardMap.swift
  Client/iOS/TodoList/Repository/CardDataMiddleWare.swift
  Client/iOS/TodoList/SceneDelegate.swift
  Client/iOS/TodoList/View/TodoRepositoryRespondWrapper.swift
  Client/iOS/TodoList/ViewControllers/ViewController.swift
Labels: 🎩 Rosa, iOS

#55 [Feat] Delete API 연결
  Client/iOS/TodoList/Base.lproj/Main.storyboard
  Client/iOS/TodoList/Cells/TodoTableViewCell.xib
  Client/iOS/TodoList/Network/CardsFetchingDataTask.swift
  Client/iOS/TodoList/Network/CardsFetchingDebugDataTask.swift
  Client/iOS/TodoList/Network/ResourcesNetwork/CardAPIResponse.swift
  Client/iOS/TodoList/Repository/CardDataMiddleWare.swift
  Client/iOS/TodoList/View/TodoRepositoryRespondWrapper.swift
Labels: Beck, enhancement, iOS
